In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [30]:
order_1 = pd.read_csv('season_1/training_data/order_data/order_data_2016-01-01', delimiter='\t',header=None)
order_1.columns = ["order_id", "driver_id","passenger_id","start_district_hash", "dest_district_hash", "Price","Time"]
order_1.head(1)

,order_id,driver_id,passenger_id,start_district_hash,dest_district_hash,Price,Time
0,97ebd0c6680f7c0535dbfdead6e51b4b,dd65fa250fca2833a3a8c16d2cf0457c,ed180d7daf639d936f1aeae4f7fb482f,4725c39a5e5f4c188d382da3910b3f3f,3e12208dd0be281c92a6ab57d9a6fb32,24,2016-01-01 13:37:23

In [36]:
# 转换时间片

delta = (pd.to_datetime(order_1.Time) - datetime(2016,1,1))
order_new = pd.DataFrame(delta,columns = ["Date", "Time","timechip"])
order_new.Date = pd.to_datetime(order_1.Time) - delta

# order_new.timechip = order_new.Time[:].seconds/60//10 + 1  # 不能向量操作，timedelta.seconds只能对单个元素进行
n = order_new.Time.count()
for i in range(100):
    order_new.timechip[i] = order_new.Time[i].seconds/60//10 + 1

order_new.head()

/Users/caimeijuan/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        Date     Time timechip
0 2016-01-01 13:37:23       82
1 2016-01-01 09:47:54       59
2 2016-01-01 18:24:02      111
3 2016-01-01 22:13:27      134
4 2016-01-01 17:00:06      103

In [37]:
order_new.timechip = (delta.dt.seconds/600).astype(np.int64) + 1

In [38]:
order_new.head()

        Date     Time  timechip
0 2016-01-01 13:37:23        82
1 2016-01-01 09:47:54        59
2 2016-01-01 18:24:02       111
3 2016-01-01 22:13:27       134
4 2016-01-01 17:00:06       103